version: '2'

services:
  h2server1:
    build:
      context: ./Dockerfiles
      dockerfile: Dockerfile
      args:
        description: "${H2SERVER1_DESCRIPTION}"
        owner: "${H2SERVER1_OWNER}"
        udp_port_range: "${H2SERVER1_UDP_PORT_RANGE}"
        tcp_port: "${H2SERVER1_TCP_PORT}"
        logs_directory: "${H2SERVER1_LOGS_DIRECTORY}"
        enable_xdelay: "${H2SERVER1_ENABLE_XDELAY}"
        server_name: "${H2SERVER1_SERVER_NAME}"
        server_playlist: "${H2SERVER1_SERVER_PLAYLIST}"
        username: "${H2SERVER1_USERNAME}"
        password: "${H2SERVER1_PASSWORD}"
    ports:
      - "${H2SERVER1_UDP_PORT_RANGE}:${H2SERVER1_UDP_PORT_RANGE}/udp"
      - "${H2SERVER1_TCP_PORT}:${H2SERVER1_TCP_PORT}/tcp"
    volumes:
      - "${H2SERVER1_LOGS_DIRECTORY}:/root/.wine/drive_c/users/root/Local Settings/Application Data/Microsoft/Halo 2/logs/H2Server/instance1"
    extends:
      file: docker-common.yml
      service: h2server